<div class="jumbotron white center shadow-text"> 
  <h1>Welcome!</h1> 
  <h2>엣치 마켓에 오신것을 환영합니다.</h2> 
</div>


<div class="container">
  <p id="notice"><%= notice %></p>
  <h4>상품 </h4>
  <div class="center">
    <div class="row">
      <% @listings.each do |listing| %>
        <div class="col-md-3">
          <div class="thumbnail">
            <%= link_to image_tag(listing.image_url), listing %>
          </div> 
          <div class="caption"> 
            <h3 class="blue-grey bold"><%= listing.name %></h3>
            <p><%= listing.description %></p>
            <p><%= listing.price.to_i %>원</p>
            <p class="grey "><%= "판매자: #{listing.user.name}" %></p>
          </div>  
        </div>

      <% end %>
    </div>
  </div>  
</div>

<br>

